@using KursovaWorkBLL.Services.AdditionalServices;

@{
    ViewBagHelper.SetIsLoggedInInViewBag(ViewContext);
    ViewBag.Title = "Заказ виконано";
}

<div class="d-flex flex-column justify-content-center text-center">
    <h1>Вітаю вас з новою покупкою! Додано автомобіль до списку куплених вами.<br>Перейти на головну сторінку</h1>
    <div class="d-flex justify-content-center">
        <a class="btn mt-2" asp-controller="Home" asp-action="Index">Перейти</a>
    </div>
</div>

@Html.Partial("_Footer")