@using KursovaWorkBLL.Services.AdditionalServices;
@{
    ViewBag.Title = "SignUp";
    ViewBagHelper.SetIsLoggedInInViewBag(ViewContext);
}

<script>
    var element = document.querySelector('.header');
    element.remove();
</script>
<div class="splitted-page">
    <div class="left-side">
        <div class="input-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h2 class="text-center mb-4">Вітаємо</h2>

                        <div class="customLogInHeader fs-5">
                            <p>
                                Ви зареєструвалися в нашій системі "VAG Dealer ID". Перейдіть на головну сторінку по кнопці, яка є знизу
                            </p>
                        </div>

                        <div class="form-group">
                            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Перейти</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side"></div>
    <div class="right-side-mobile"></div>
</div>





