@using KursovaWorkBLL.Services.AdditionalServices;

@{
    ViewBagHelper.SetIsLoggedInInViewBag(ViewContext);
    ViewBag.Title = "Підтвердження реєстрації";
}
@model VerificationViewModel;

<script>
    var element = document.querySelector('.header');
    element.remove();
</script>
<div class="splitted-page">
    <div class="left-side">
        <div class="input-group">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h2 class="text-center mb-4">Підтвердження реєстрації</h2>
                        <div class="customLogInHeader fs-5">
                            <p>
                                Введіть код, який вам надіслали на пошту 
                            </p>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @using (Html.BeginForm("Submit", "SignUp", FormMethod.Post, new { @class = "needs-validation", @id = "verificationDigitsForm", novalidate = "novalidate" }))
                        {
                            <div class="form-group">
                                <p class="fs-6">Код підтвердження</p>
                                <div class="verification-code-input d-flex justify-content-center gap-4">
                                    @for (int i = 0; i < 4; i++)
                                    {
                                        <input type="text" class="verification-digit border-2 text-center" name="VerificationDigits[@i]" maxlength="1" required="required" oninput="moveToNextInput(this, @i)" />
                                    }
                                </div>
                                @Html.ValidationMessageFor(m => m.VerificationDigits, "", new { @class = "text-danger", @id = "verificationDigitsError"})
                            </div>

                            <div class="form-group login-button">
                                <button type="submit" class="btn btn-primary btn-block">Підтвердити</button>
                            </div>

                            <script>
                                function moveToNextInput(input, currentIndex) {
                                    var nextIndex = currentIndex + 1;
                                    var verificationInputs = document.getElementsByClassName("verification-digit");
                                    if (nextIndex < verificationInputs.length) {
                                        verificationInputs[nextIndex].focus();
                                    }
                                }
                            </script>

                        }
                        <div class="customLogInHeader fs-5">
                            <p>
                                Нажміть <a asp-action="ReSendVerificationCode" asp-controller="SignUp" id="resendButton">тут</a>, якщо хочете повторно получити код на пошту
                            </p>
                        </div>

                        <script>
                            document.addEventListener("DOMContentLoaded",
                                function () {
                                    document.getElementById("verificationDigitsForm").addEventListener("submit",
                                        function (event) {
                                            event.preventDefault();
                                            submit();
                                        });

                                    document.getElementById("resendButton").addEventListener("click",
                                        function(event) {
                                            event.preventDefault();
                                            resend();
                                        });
                                });

                            function submit() {
                                var form = document.getElementById("verificationDigitsForm");
                                var formData = new FormData(form);

                                fetch(form.action,
                                    {
                                        method: form.method,
                                        body: formData
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.success) {
                                            window.location.href = "@Url.Action("Congratulations", "SignUp")";
                                        } else {
                                            if (data.error) {
                                                document.getElementById("verificationDigitsError").innerText = data.error;
                                            } else {
                                                document.getElementById("verificationDigitsError").innerText = "";
                                            }
                                        }
                                    })
                                    .catch(error => console.log(error));
                            }

                            function resend() {

                                fetch("/SignUp/ReSendVerificationCode",
                                        {
                                            method: "GET"
                                        })
                                    .then(response => response.json())
                                    .then(data => console.log(data.message))
                                    .catch(error => console.log(error));
                            }

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side"></div>
    <div class="right-side-mobile"></div>
</div>





