@using KursovaWorkBLL.Services.AdditionalServices;
@{
    ViewBag.Title = "VAG Dealer";
    ViewBagHelper.SetIsLoggedInInViewBag(ViewContext);
}

<div class="homepage-mainsection">
    <div class="main-carousel autoplay">
        <div class="carousel-cell">
            <div class="post">
                <div class="homepage-Image">
                    <img src="~/Content/Images/Q8 E-tron.jpg">
                </div>
                <div class="innerStageBox">
                    <div class="headline">
                        <div class="audi-themeStageBoxHeadlineH1">
                            <span class="foreground">Новий Audi Q8 e-tron</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="audi-themeStageBoxLinks">
                        <div class="stageBoxListItem">
                            <div class="audi-themeStageBoxLinksLink">
                                <span class="audi-themeStageBoxLinksLinkLinkIcon">
                                    <a class="audi-kwcBasicLinkTagIntern  text-decoration-none" asp-action="Car" asp-controller="Car" asp-route-param1="Audi" asp-route-param2="Q8" asp-route-param3="2021">
                                        <span class="btn btn-color ">Детальніше</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="post">
                <div class="homepage-Image">
                    <img src="~/Content/Images/taycan.jpg">
                </div>
                <div class="innerStageBox">
                    <div class="headline">
                        <div class="porsche-themeStageBoxHeadlineH1">
                            <span class="foreground">Новий Porsche Taycan</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="porsche-themeStageBoxLinks">
                        <div class="stageBoxListItem">
                            <div class="porsche-themeStageBoxLinksLink">
                                <span class="porsche-themeStageBoxLinksLinkLinkIcon">
                                    <a class="porsche-kwcBasicLinkTagIntern  text-decoration-none" asp-action="Car" asp-controller="Car" asp-route-param1="Porsche" asp-route-param2="Taycan" asp-route-param3="2023">
                                        <span class="btn btn-color ">Детальніше</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="post">
                <div class="homepage-Image">
                    <img src="~/Content/Images/arteon.jpg">
                </div>
                <div class="innerStageBox">
                    <div class="headline">
                        <div class="vw-themeStageBoxHeadlineH1">
                            <span class="foreground">Новий Arteon Shooting Brake</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="vw-themeStageBoxLinks">
                        <div class="stageBoxListItem">
                            <div class="vw-themeStageBoxLinksLink">
                                <span class="vw-themeStageBoxLinksLinkLinkIcon">
                                    <a class="vw-kwcBasicLinkTagIntern  text-decoration-none" asp-action="Car" asp-controller="Car" asp-route-param1="Volkswagen" asp-route-param2="Arteon" asp-route-param3="2022">
                                        <span class="btn btn-color ">Детальніше</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dealer-section">
    <div class="paragraphs__kwcParagraphItem" data-width="100%">
        <div class="contentTeaserTextContent text-white">
            <div class="webCustom contentTeaserTextContentHeadline">
                <h4 class="headline">
                    <span class="contentTeaserTextContentHeadline">Шановні Клієнти та Партнери,</span>
                </h4>
            </div>
            <div class="webCustom contentTeaserText">

                <p class="TeaserText__headline">
                    <span class="TeaserText">
                        У зв’язку з введенням воєнного стану на території України повідомляємо, що Дилерські Підприємства та Сервісні Партнери Volkswagen наразі працюють в обмеженому режимі.<br>
                        <br>
                        Будь ласка, дізнайтеся про режим роботи конкретного підприємства-партнера на його сайті або зателефонувавши безпосередньо до даного підприємства.<br>
                        <br>
                        Дякуємо за Ваш вибір та розуміння, і ми сподіваємося, що незабаром зможемо повністю відновити роботу нашої збутової та сервісної мережі.<br>
                        <br>
                        З вірою в Україну,<br>
                        Ваша команда Volkswagen
                    </span>
                </p>
            </div>
            <div class="webStandard contentTeaserTextContentButton">
                <a class="btn btn-color" href="https://www.google.com/maps/search/Volkswagen+w+pobliżu+Ukraine/@@48.1555272,31.1741217,6z/data=!3m1!4b1">Пошук дилера</a>
            </div>
        </div>
    </div>
</div>

<div class="parallax">
    <div class="parallax-background"></div>
    <div class="parallax-content">
        <h2>Відкрийте для себе Volkswagen Golf</h2>
        <p>Відчуйте захоплюючу їзду на повністю електричному Volkswagen Golf. Відкрийте для себе його аеродинамічний дизайн, передові технології та вражаючі характеристики.</p>
    </div>
</div>

@Html.Partial("_Footer")