@font-face {
    font-family: 'BMW TYPENEXT';
    src: url('../Content/Fonts/BMWTypeNext Pro Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.border-bottom-black {
    border-bottom: 1px solid #46596c !important;
}

.close-custom {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.cursor{
}
.cursor:hover{
    cursor: pointer;
}

.card-background {
    background: #46596c;
}

.text-color{
    color: #212529;
}

.sort-selection {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #000000B3;
    background-position: right 12px center;
    background-repeat: no-repeat,repeat;
    background-size: 14px 9px;
    border: 1px solid #262626;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.2rem;
    max-width: 100%;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 40px;
    text-align: left;
    width: 20%;
}

.card-title-car {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.logo{
    color: black;
    width: 40px;
    height: 40px;
}

.logo-login {
	color: black;
	width: 120px;
	height: 120px;
}

.user-section{
    margin-right: 75px;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -200%;
    margin-top: 0.125rem;
}

.logged-Out {
    display: flex;
}

.logged-In {
    display: none;
}

.logged-In, .logged-Out {
    justify-content: space-between;
    gap: .9375rem;
}

.headline{
    margin-bottom: 22px;
}

.homepage-mainsection .main-carousel {
    width: auto;
}

.homepage-mainsection .main-carousel img {
    display: block;
    height: 220px;
}

.foreground {
    font-size: 2.7rem;
    line-height: 4.2rem;
}

.btn-color{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 0;
    width: 234px;
    height: 60px;
    text-align: center;
    color: white;
}

.btn-color :hover {
	color: white;
}

.dealer-section {
    background-image: radial-gradient(circle at 50% 85%,#00437a 0,#001e50 100%);
    padding: 20px 10% 20px 10%;
    margin-bottom: 15px;
    height: auto;
}

.contentTeaserTextContent {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.TeaserText__headline {
    font-family: VWText,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dropdown-container {
    padding-left: 0;
}

.homepage-Image {
    width: auto;
    height: auto;
}

.homepage-mainsection {
    padding-bottom: 10%;
}

.footer {
    border-top: 2px solid #001e50;
    padding-top: 32px;
    margin-top: 72px;
    font-family: VWText,sans-serif;
    font-size: 14px;
}

.boxFooterColumnHeadline__headline {
    font-family: VWHead,sans-serif;
    font-weight: 600;
    line-height: 20px;
    color: black;
}

html .boxFooter__column {
    margin-bottom: 44px;
}

.Copyright{
    font-size: 12px;
    color: #c1c1c1;
}

.Disclaimer {
    color: #6a767d;
    padding-top: 44px;
    margin-top: 44px;
    border-top: 1px solid #dfe4e8;
    box-sizing: border-box;
}


.Disclaimer-text {
    color: #001e50;
}

.themeMenuBottom-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

html .themeMenuBottom__item--first .themeMenuBottom__link:after {
    content: "|";
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}

.themeMenuBottom__link {
    text-decoration: none;
    color: #001e50;
}

html .themeMenuBottom__link:after {
    content: "|";
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}

.homepage-mainsection .carousel-cell {
    display: flex;
    justify-content: center;
}

.homepage-mainsection .flickity-prev-button {
    left: 10px;
}

.homepage-mainsection .flickity-next-button {
    right: 10px;
}

html .themeMenuBottom__item--last .themeMenuBottom__link:after {
    content: "";
}

.boxFooterSocialLinksChildLink{
    margin-left: 15px;
}

.parallax {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.leasing.com/cms/vw-golf-colours-2021-guide_thumb.jpg?width=1200&height=800&fixar=true);
    background-size: cover;
    background-position: center;
    transform: translate3d(0, 0, 0);
    z-index: -1;
}

.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 20px;
    color: white;
}

.parallax-content h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.parallax-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
	color: white;
}

.customLogInHeader {
    font-family: 'BMW TYPENEXT';
    color: #2c3e50;
    font-weight: 300;
    line-height: 24px;
    margin-top: 7px;
}

.customLogInHeader a{
    font-weight: 600;
    color: #262626;
}

.needs-validation {
    display: flex;
    font-family: 'BMW TYPENEXT';
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.form-control-custom {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-family: 'BMW TYPENEXT';
    font-weight: 400;
    line-height: 1.5;
    color: #262626;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #bbb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input {
    border-bottom: 2px;
    border-width: 0;
    border-style: inset;
    border-image: initial;
}

input:focus,
input:valid {
    outline: none;
}

.form-control-custom:focus {
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-small {
    font-size: 14px;
    color: #2c3e50;
}

.input-group{
    padding: 50px 0 20px 0;
}

.splitted-page{
    display: flex;
    justify-content: flex-end;
    height: 100%
}

.left-side {
    height: 100vh;
    position: relative;
    width: 616px;
    min-width: 616px;
    margin: 0;
}

.right-side {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1605152277138-359efd4a6862?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHZvbGtzd2FnZW58ZW58MHx8MHx8&w=1000&q=80);
}

.right-side-mobile {
    display: none;
    width: 100%;
    height: 300px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1605152277138-359efd4a6862?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHZvbGtzd2FnZW58ZW58MHx8MHx8&w=1000&q=80);
}

.creditCard-section {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1280px;
    min-width: 320px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 32px;
    margin-bottom: 48px;
}

.yourpayments-header {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #262626;
    font-weight: 300;
    font-family: 'BMW TYPENEXT',Arial,Helvetica,sans-serif;
    font-size: 26px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 64px;
    padding-bottom: 8px;
}

.creditCardHeader {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #262626;
    font-weight: 300;
    font-family: "BMW TYPENEXT",Arial,Helvetica,sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.creditCardListHeader {
    box-sizing: border-box;
    margin: 0px 0px 37px;
    min-width: 0px;
    color: rgb(38, 38, 38);
    font-weight: normal;
    font-family: "BMW TYPENEXT", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
}

.creditCard {
    width: 400px;
    height: 250px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border: 0px;
}

.card-front {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.card-front {
    background: linear-gradient(45deg, #41c6e8, #9a78e3);
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-number {
    margin-top: 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    word-spacing: 6px;
    line-height: 1.2em;
}

.card-holder {
    margin-top: 10px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.card-expiry {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-expiry-value {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.card-expiry-label{
    color: white;
}

.card-bar {
    width: 100%;
    height: 40px;
    background: #333;
}

.orderList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}

.ordersNotFound{
    text-align: center;
    font-family: 'BMW TYPENEXT', sans-serif;
}

.carBody{
    margin-top: 3rem;
}

.radio-buttons {
    display: flex;
    flex-direction: column;
}

.radio-buttons label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons .radio-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 10px;
}

.radio-buttons input[type="radio"]:checked + .radio-button {
    opacity: 0.8;
    border-color: black;
}

.radio-buttons input[type="radio"][value="Червоний"] + .radio-button {
    background-color: red;
    border-color: red;
}

.radio-buttons input[type="radio"][value="Синій"] + .radio-button {
    background-color: blue;
    border-color: blue;
}

.radio-buttons input[type="radio"][value="Чорний"] + .radio-button {
    background-color: black;
    border-color: black;

}

.radio-buttons input[type="radio"][value="Білий"] + .radio-button {
    background-color: white;
    border-color: white;

}

.radio-buttons input[type="radio"][value="Сріблястий"] + .radio-button {
    background-color: silver;
    border-color: silver;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-silver {
    background-color: silver;
}


@media screen and (max-width: 600px) {
    .creditCard {
        width: 300px;
        height: 180px;
    }

    .card-front {
        padding: 15px;
    }

    .card-title {
        font-size: 16px;
    }

    .card-number {
        font-size: 14px;
    }

    .card-holder {
        font-size: 12px;
    }

    .card-expiry-value {
        font-size: 12px;
    }

    .card-expiry-label {
        font-size: 12px;
    }
}

.verification-digit{
    width: 40px;
    height: 60px;
}

@media (max-width: 576px) {
    .table {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
}

@media screen and (min-width: 1023px) {
    .creditCard-section {
        padding-left: 48px;
        padding-right: 48px;
    }

    .yourpayments-header {
        font-size: 40px;
        line-height: 64px;
    }

    .creditCardHeader {
        margin-bottom: 88px;
    }
}


@media screen and (min-width: 599px) {
    .creditCard-section {
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 96px;
    }

    .yourpayments-header {
        font-size: 40px;
        line-height: 64px;
    }

    .creditCardHeader {
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1759px) {
    .creditCard-section {
        padding-left: 128px;
        padding-right: 128px;
    }
}

@media screen and (min-width: 1023px) {
    .css-1frhmba {
        padding-left: 96px;
        padding-right: 96px;
    }
}


@media screen and ( min-width: 500px ) and (max-width: 767px) {
    .homepage-mainsection .main-carousel img {
        height: 300px;
    }
}

@media screen and ( min-width: 768px ) and (max-width: 991px) {
    .homepage-mainsection .main-carousel img {
        height: 400px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .homepage-mainsection .main-carousel img {
        height: 600px;
    }
}

@media screen and ( min-width: 1200px ) {
    .homepage-mainsection .main-carousel img {
        height: 700px;
    }
}

@media screen and (min-width: 576px) and (max-width: 1400px) {
    .splitted-page {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .right-side {
        display: none;
    }

    .right-side-mobile {
        display: flex;
    }
}

@media screen and (min-width: 400px) and (max-width: 575px) {
    .splitted-page {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .right-side {
        display: none;
    }

    .right-side-mobile {
        display: flex;
    }

    .input-group {
        width: auto;
        margin-left: 24px;
        margin-right: 24px;
    }

    .form-control-custom {
        width: auto;
    }

    .col-md-6 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    html {
        margin-left: 25px;
    }
}

@media screen and (max-width: 399px) {
    .splitted-page {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .right-side {
        display: none;
    }

    .right-side-mobile {
        display: flex;
    }

    .input-group {
        width: auto;
    }

    .form-control-custom {
        width: auto;
    }

    .col-md-6 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    html .container {
        margin: auto;
    }

    html {
        margin-left: 50px;
        padding: 0 20px 0 20px;
    }
}

